In [83]:
import pandas as pd
cv=pd.read_csv('./cv_info.log',header=None)

In [84]:
cv['time']=cv.iloc[:,0].apply(lambda x : x.split('|')[0].split('.')[0].strip()).astype('datetime64[ns]')#pd.to_datetime(,format='%Y-%m-%d %H:%M:%s')
cv['cv_x1']=cv.iloc[:,0].apply(lambda x : x.split('=')[-1].strip())
cv['cv_y1']=cv.iloc[:,1].apply(lambda x : x.split('=')[-1].strip())
cv['cv_x2']=cv.iloc[:,2].apply(lambda x : x.split('=')[-1].strip())
cv['cv_y2']=cv.iloc[:,3].apply(lambda x : x.split('=')[-1].strip())
cv_single=cv.drop_duplicates(['time'],keep ='first')
cv_single=cv_single[['time','cv_x1','cv_y1','cv_x2','cv_y2']].reset_index(drop=True)
cv_single

                  time  cv_x1  cv_y1  cv_x2  cv_y2
0  2023-02-01 04:15:36  0.254  0.037  0.494  0.537
1  2023-02-01 04:15:37  0.134  0.296  0.512  0.535
2  2023-02-01 04:15:38  0.234  0.544  0.399  0.779
3  2023-02-01 04:15:39   0.21  0.385  0.445  0.665
4  2023-02-01 04:15:40  0.183  0.252  0.454  0.779
..                 ...    ...    ...    ...    ...
83 2023-02-01 10:28:25    0.0  0.023  0.751  0.783
84 2023-02-01 10:28:26  0.478   0.09  0.577  0.423
85 2023-02-01 10:28:28    0.0  0.023  0.751  0.785
86 2023-02-01 10:28:29    0.0  0.096  0.602  0.779
87 2023-02-01 10:28:30   0.21  0.283  0.451  0.715

[88 rows x 5 columns]

In [85]:
cv=pd.read_csv('./yolo_info.log',header=None)
yolo['time']=yolo.iloc[:,0].apply(lambda x : x.split('|')[0].split('.')[0].strip()).astype('datetime64[ns]')#pd.to_datetime(,format='%Y-%m-%d %H:%M:%s')
yolo['yolo_x1']=yolo.iloc[:,0].apply(lambda x : x.split('=')[-1].strip())
yolo['yolo_y1']=yolo.iloc[:,1].apply(lambda x : x.split('=')[-1].strip())
yolo['yolo_x2']=yolo.iloc[:,2].apply(lambda x : x.split('=')[-1].strip())
yolo['yolo_y2']=yolo.iloc[:,3].apply(lambda x : x.split('=')[-1].strip())
yolo_single=yolo.drop_duplicates(['time'],keep ='first')
yolo_single=yolo_single[['time','yolo_x1','yolo_y1','yolo_x2','yolo_y2']].reset_index(drop=True)
yolo_single

                   time yolo_x1 yolo_y1 yolo_x2 yolo_y2
0   2023-02-01 04:15:35   0.246  -0.016   0.549   0.491
1   2023-02-01 04:15:36   0.253   0.009   0.542    0.47
2   2023-02-01 04:15:37   0.251  -0.021   0.536   0.511
3   2023-02-01 04:15:38   0.257   0.106   0.522   0.609
4   2023-02-01 04:15:39   0.252   0.084   0.522   0.641
..                  ...     ...     ...     ...     ...
290 2023-02-01 10:28:46   0.239   0.263   0.468   0.776
291 2023-02-01 10:28:47   0.256   0.228   0.475   0.812
292 2023-02-01 10:28:48   0.261   0.298   0.516   0.835
293 2023-02-01 10:28:49   0.261   0.339   0.532   0.808
294 2023-02-01 10:28:50    0.28   0.342   0.561   0.829

[295 rows x 5 columns]

In [86]:
yolo_s=yolo_single.set_index('time')
cv_s=cv_single.set_index('time')
data=pd.concat([yolo_s,cv_s],axis=1,join='inner')

In [87]:
# 重合矩形判断
def solve(R1, R2):
    if (R1[0]>=R2[2]) or (R1[2]<=R2[0]) or (R1[3]<=R2[1]) or (R1[1]>=R2[3]):
        return False
    else:
        return True

In [89]:
# 结果
res=[]
for i in range(data.shape[0]):
    if solve(data.iloc[i,0:4].tolist(),data.iloc[i,4:].tolist()):
        res.append(str(data.index[i])+'有重合❌')
    else:
        res.append(str(data.index[i])+'无重合✅')
res

['2023-02-01 04:15:36有重合❌',
 '2023-02-01 04:15:37有重合❌',
 '2023-02-01 04:15:38有重合❌',
 '2023-02-01 04:15:39有重合❌',
 '2023-02-01 04:15:40有重合❌',
 '2023-02-01 04:15:41有重合❌',
 '2023-02-01 04:15:42有重合❌',
 '2023-02-01 04:15:43无重合✅',
 '2023-02-01 04:15:44有重合❌',
 '2023-02-01 04:15:45有重合❌',
 '2023-02-01 04:15:46有重合❌',
 '2023-02-01 04:15:47有重合❌',
 '2023-02-01 04:15:48有重合❌',
 '2023-02-01 04:15:50有重合❌',
 '2023-02-01 04:15:51有重合❌',
 '2023-02-01 04:15:53有重合❌',
 '2023-02-01 04:15:54有重合❌',
 '2023-02-01 04:15:55有重合❌',
 '2023-02-01 04:15:56有重合❌',
 '2023-02-01 04:15:57有重合❌',
 '2023-02-01 04:15:58有重合❌',
 '2023-02-01 04:15:59有重合❌',
 '2023-02-01 04:16:00有重合❌',
 '2023-02-01 04:16:01有重合❌',
 '2023-02-01 04:16:02有重合❌',
 '2023-02-01 04:16:03有重合❌',
 '2023-02-01 04:16:04有重合❌',
 '2023-02-01 04:16:07有重合❌',
 '2023-02-01 04:16:08有重合❌',
 '2023-02-01 04:16:09有重合❌',
 '2023-02-01 04:18:58无重合✅',
 '2023-02-01 04:18:59无重合✅',
 '2023-02-01 04:19:00无重合✅',
 '2023-02-01 04:19:01无重合✅',
 '2023-02-01 04:19:02无重合✅',
 '2023-02-01 04:19:03无重合✅',
 '2023-02-01 04:19:04有重合❌',
 '2023-02-01 04:19:05无重合✅',
 '2023-02-01 04:19:06有重合❌',
 '2023-02-01 04:19:07有重合❌',
 '2023-02-01 04:19:08有重合❌',
 '2023-02-01 04:19:09有重合❌',
 '2023-02-01 04:19:10有重合❌',
 '2023-02-01 04:19:11有重合❌',
 '2023-02-01 04:19:13有重合❌',
 '2023-02-01 04:19:14有重合❌',
 '2023-02-01 04:19:17有重合❌',
 '2023-02-01 04:19:18有重合❌',
 '2023-02-01 04:19:19有重合❌',
 '2023-02-01 04:19:20无重合✅',
 '2023-02-01 04:19:21无重合✅',
 '2023-02-01 04:19:22有重合❌',
 '2023-02-01 04:19:23有重合❌',
 '2023-02-01 04:19:24有重合❌',
 '2023-02-01 04:19:25有重合❌',
 '2023-02-01 04:19:26无重合✅',
 '2023-02-01 04:19:27有重合❌',
 '2023-02-01 04:19:28无重合✅',
 '2023-02-01 04:19:30有重合❌',
 '2023-02-01 04:19:31无重合✅',
 '2023-02-01 04:19:32无重合✅',
 '2023-02-01 10:28:00有重合❌',
 '2023-02-01 10:28:01有重合❌',
 '2023-02-01 10:28:02无重合✅',
 '2023-02-01 10:28:03有重合❌',
 '2023-02-01 10:28:04有重合❌',
 '2023-02-01 10:28:05有重合❌',
 '2023-02-01 10:28:06有重合❌',
 '2023-02-01 10:28:07有重合❌',
 '2023-02-01 10:28:08有重合❌',
 '2023-02-01 10:28:09有重合❌',
 '2023-02-01 10:28:10有重合❌',
 '2023-02-01 10:28:11有重合❌',
 '2023-02-01 10:28:13无重合✅',
 '2023-02-01 10:28:16有重合❌',
 '2023-02-01 10:28:17有重合❌',
 '2023-02-01 10:28:18有重合❌',
 '2023-02-01 10:28:19有重合❌',
 '2023-02-01 10:28:20有重合❌',
 '2023-02-01 10:28:21无重合✅',
 '2023-02-01 10:28:22无重合✅',
 '2023-02-01 10:28:23有重合❌',
 '2023-02-01 10:28:24无重合✅',
 '2023-02-01 10:28:25有重合❌',
 '2023-02-01 10:28:26无重合✅',
 '2023-02-01 10:28:28有重合❌',
 '2023-02-01 10:28:29有重合❌',
 '2023-02-01 10:28:30有重合❌']